
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Montserrat&family=Poppins:wght@100;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.dark1 {
    color: #1D1D1D;
}

.dark2 {
    color: #4A4A4A;
}

.dark3 {
    color: #777777;
}

.button-color {
    background-color: #289BDE;
    color: #289BDE;
}
.pricecolor{
    color: #289BDE;
}

.course-border {
    border-color: #E8E8E8;
}

.img-back {
    background-color: #F4FAFD;
}

.fa-star,
.fa-star-half-stroke {
    color: goldenrod;
}

/* Mobile  */
@media screen and (max-width: 768px) {
    .h1-size-small {
        font-size: 16px;
    }

    .p-small {
        font-size: 12px;
    }

    .small-button {
        font-size: 12px;
        height: 30px;
        width: auto;
    }

    .res {
        position: absolute;
        top: 2%;
        /* margin-bottom: 100px; */
    }
    .working{
        width: 100% !important;
    }
}

/* tablet  */
@media screen and (min-width:770px) and (max-width:1024px) {
    .h1-size-small {
        font-size: 24px;
    }
    .p-small {
        font-size: 12px;
    }
    .over{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-lines: 3;
    }
    .res {
        position: absolute;
        top: 30%;
        /* margin-bottom: 100px; */
    }
}

/* Computer  */

@media screen and (min-width: 1120px) {
    .h1-size-small {
        font-size: 55px;
    }
    .res {
        position: absolute;
        top: 30%;
        bottom: 50%;
        /* margin-bottom: 100px; */
    }



    .hov:hover{

        background-color: #289BDE;
        color:white;
        border: #289BDE;
    }

}