.dark1 {
    color: #1D1D1D;
}

.dark2 {
    color: #4A4A4A;
}

.dark3 {
    color: #777777;
}

.button-color {
    background-color: #289BDE;
    color: #289BDE;
}

.course-border {
    border-color: #E8E8E8;
}

.img-back {
    background-color: #F4FAFD;
}

.fa-star,
.fa-star-half-stroke {
    color: goldenrod;
}

@media screen and (max-width: 768px) {
    .h1-size-small {
        font-size: 16px;
    }

    .p-small {
        font-size: 12px;
    }

    .small-button {
        height: 40px;
    }



}

@media screen and (min-width: 768px) {
    .res {
        position: absolute;
        top: 50%;
        bottom: 50%;
        /* margin-bottom: 100px; */
    }


}